.brand{
	background: #cbb09c !important;
	}
.brand-text{
    color: #cbb09c !important;
}


.book_request_form {
    width: 460px !important;
}

form{
    width: 460px;
    margin: 20px auto;
    padding: 20px;
}

.login-form{
    max-width: 640px;
}

.accounts-page {
    margin-top: 25px;
}

